<main>
	<header>
		<nav class="tools">
			{{link-to '' 'tags.new' class="add" tagName="a" data-tooltip="Add" data-tooltip-direction="bottom"}}
		</nav>
	</header>
	<section class="data">
		<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Slug</th>
						<th>Type</th>
						<th>Order</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each tags as |tag|}}
						<tr>
							<td>{{tag.name}}</td>
							<td>{{tag.id}}</td>
							<td>{{tag.type}}</td>
							<td>{{tag.order}}</td>
							<td class="controls">
								<ul>
									{{link-to '' 'tags.tag' tag class="edit" tagName="li" data-tooltip="Edit" data-tooltip-direction="left"}}
								</ul>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<aside>
			{{#each types as |type|}}
				<p>{{type.value}} {{type.label}}</p>
			{{/each}}
		</aside>
	</section>
</main>
