{{#if auth.token}}
<nav class="nav">
	<section>
		{{link-to '' 'index' class="dashboard" data-tooltip="Dashboard"}}
		{{link-to '' 'tags' class="tags" data-tooltip="Tags"}}
		{{link-to '' 'suggestions' class="suggestions" data-tooltip="Suggestions"}}
		{{link-to '' 'reports' class="reports" data-tooltip="Reports"}}
		{{link-to '' 'users' class="users" data-tooltip="Users"}}
	</section>
	{{link-to '' 'logout' class="logout" data-tooltip="Logout"}}
</nav>
{{/if}}

{{outlet}}
