<main class="hero">
	<form {{action 'login' on='submit'}}>
		{{error-message error}}
		<label>
			{{input type="email" value=email placeholder="Email" required=true}}
		</label>
		<label>
			{{input type="password" value=password placeholder="Password" required=true}}
		</label>
		<p>
			<button disabled={{busy}} class={{if busy 'loading'}}>Login</button>
		</p>
	</form>
</main>
